<div class="elementContainer"
    [style.zIndex]="zIndex()"
    [style.width.px]="getMainWidth()"
    [style.height.px]="getMainHeight()"
    [style.transform]="'translate3d(' + x() + 'px,' + y() + 'px,' + '0px)'">
    <div *ngIf="showLayerOptions" class="elementContainer__optionMovement"
        (click)="onSelecElement()"
        [style.top.px]="getMainHeight()+22">
        <ul>
            <li (click)="onMoveToFront.emit()"><i class="bi bi-front"></i>Mover al frente</li>
            <li (click)="onMoveToBack.emit()"><i class="bi bi-back"></i>Mover atras</li>
            <li (click)="onMoveForward.emit()"><i class="bi bi-front"></i>Mover un paso al frente</li>
            <li (click)="onMoveBackward.emit()"><i class="bi bi-back"></i>Mover un paso al atras</li>
        </ul>
    </div>
    <button class="elementContainer__resizeHandle elementContainer__resizeHandle--topLeft"(click)="onDeleteElement.emit(id)"><i class="bi bi-trash3"></i></button>    
    <button class="elementContainer__resizeHandle elementContainer__resizeHandle--bottomRight" (mousedown)="setStatus($event, 1, bottomRightResize)"><i class="bi bi-arrows-angle-expand"></i></button>    
    <button class="elementContainer__resizeHandle elementContainer__resizeHandle--bottomLeft"  (click)="onToggleShowLayerOptions()"><i class="bi bi-stack"></i></button>    
</div>

<div class="elementContainer"
    [style.transform]="'translate3d(' + x() + 'px,' + y() + 'px,' + '0px) rotate(' + rotateDegree + 'deg)'"
    [style.zIndex]="zIndex()"
    (mousedown)="setStatus($event, 2)"
    [id]="'mainElement__'+id"
    #mainElement>
    <div *ngIf="showText; else showImage"
        [ngClass]="{'verticalInverted':isVerticalInverted}"
        [ngClass]="{'horizontalInverted':isHorizontalInverted}"
        [style.fontSize]="imgHeight()"
        [style.fontFamily]="selectedFont()"
        [style.color]="selectedFontColor()"
        [style.-webkitTextStroke]="'2px '+selectedOutlineFontColor()"
        #textElement>
        {{ text() }}
    </div>
    <ng-template #showImage>
        <img
            [ngClass]="{'verticalInverted':isVerticalInverted}"
            [ngClass]="{'horizontalInverted':isHorizontalInverted}"
            [style.width]="imgWidth()"
            [style.height]="imgHeight()"
            [src]="imagePath">
    </ng-template>
    <button class="elementContainer__resizeHandle elementContainer__resizeHandle--topRight" (dragstart)="setRotate($event, true)" (dragend)="setRotate($event, false)" draggable="true" (drag)="onDragRotate($event)"><i class="bi bi-arrow-counterclockwise"></i></button>
</div>