@import "../../../theme/styles/variables";

.elementContainer {
  position: absolute;
  border: 1px dashed red;
  background-color: lawngreen;
  &__resizeHandle{
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 0px !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
    border: 1px solid #cccfd6;
    z-index: 2147483647;
    &--topLeft{
      top: 0;
      left: 0;
      &:hover{
        background-color: $red;
        color: $white;
      }
    }
    &--topRight{
      top: -24px;
      z-index: 2147483647 !important;
      &:hover{
        background-color: $blue-light;
        color: $white;
      }     
    }
    &--bottomLeft{
      top: 20px;
      left: 0;
      font-size: 10px;
      &:hover{
        background-color: $blue-light;
        color: $white;
      }  
    }
    &--bottomRight{
      top: 20px;
      left: 20px;
      transform: rotate(90deg);
      cursor: crosshair;
      &:hover{
        background-color: $blue-light;
        color: $white;
      }  
    }
  }
  &__optionMovement{
    background: $white;
    width: 200px;
    ul {
      width: 205px;
      padding: 0px;      
      list-style: none;
      cursor: pointer;
      margin: 0 !important;
      li{
        i{
          margin-right: 5px;
          color: $blue-light;
        }
        padding: 5px 8px 5px 4px;
        &:hover{
          background-color: rgb(241, 241, 241);
        } 
      }  
    }
  }
}

svg text {
  user-select: none;
}

.horizontalInverted{
  transform: scaleX(-1) !important;
}

.verticalInverted{
  transform: scaleY(-1) !important;
}

svg{
  overflow: visible;
}

.verticalInverted{
  transform: rotate(180deg);
}

.horizontalInverted{
  transform: scaleX(-1);
}