<div class="elementContainer" [style.transform]="'translate3d(' + x() + 'px,' + y() + 'px,' + '0px)'" [style.width.px]='width()'
    [style.height.px]='height()' (mousedown)="setStatus($event, 2)" (window:mouseup)="setStatus($event, 0)" (click)="onCLick()">

    <svg [attr.width]="imgWidth()" [attr.height]="imgHeight()">
        <text x="0" y="12%" style="dominant-baseline: hanging;" [attr.font-size]="imgHeight()"
        textLength="100%" lengthAdjust="spacingAndGlyphs">{{ text() }}</text>
    </svg>

    <div class="elementContainer__resizeHandle elementContainer__resizeHandle--topLeft" (mousedown)="setStatus($event, 1, topLeftResize)"></div>
    <div class="elementContainer__resizeHandle elementContainer__resizeHandle--topRight" (mousedown)="setStatus($event, 1, topRightResize)"></div>
    <div class="elementContainer__resizeHandle elementContainer__resizeHandle--bottomLeft" (mousedown)="setStatus($event, 1, bottomLeftResize)"></div>
    <div class="elementContainer__resizeHandle elementContainer__resizeHandle--bottomRight" (mousedown)="setStatus($event, 1, bottomRightResize)"></div>
</div>