.elementContainer {
  position: absolute;
  width: 100px;
  min-width: 10px;
  height: 100px;
  min-height: 10px;
  border: 1px dashed darkcyan;
  background-color: lawngreen;
  &__resizeHandle{
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: darkgoldenrod;
    cursor: crosshair;
    &--topLeft{      
      top: -3px;
      left: -3px;
    }
    &--topRight{
      left: calc(100% - 5px);
      top: -3px;
    }
    &--bottomLeft{
      top: calc(100% - 5px);
      left: -3px;
    }
    &--bottomRight{
      top: calc(100% - 5px);
      left: calc(100% - 5px);
    }
  }
}

svg text {
  user-select: none;
}

.horizontalInverted{
  transform: scaleX(-1) !important;
}

.verticalInverted{
  transform: scaleY(-1) !important;
}

.rotateDiv{
  width: 15px;
  height: 15px;
  background-color: red;
  margin-top: -20px;
}