<section ngClass="designContainer">
    <app-option class="z-3 designContainer__option"
        [currentOption]="currentOption()"
        (currentOptionChange)="currentOption.set($event)"
        [isNewElement]="isNewElement()"
        (isNewElementChange)="isNewElement.set($event)">
    </app-option>
    <app-product-designer class="z-1 designContainer__designer"
        [currentOption]="currentOption()"
        (currentOptionChange)="currentOption.set($event)"
        [isNewElement]="isNewElement()"
        (isNewElementChange)="isNewElement.set($event)">
    </app-product-designer>
</section>
