<div class="optionContainer">
    <app-button-one label="{{'Productos'}}" imageUrl="{{'../../../../assets/icon/tshirt.png'}}" [class]="getButtoClass(option.product)" (click)="onSetCurrentOption(option.product)"></app-button-one>
    <app-button-one label="{{'Agregar texto'}}" imageUrl="{{'../../../../assets/icon/text.png'}}" [class]="getButtoClass(option.text)" (click)="onSetCurrentOption(option.text)"></app-button-one>
    <app-button-one label="{{'Cargar imagen'}}" imageUrl="{{'../../../../assets/icon/cloud-computing.png'}}" [class]="getButtoClass(option.upload)" (click)="onSetCurrentOption(option.upload)"></app-button-one>
    <app-button-one label="{{'Arte'}}" imageUrl="{{'../../../../assets/icon/star.png'}}" [class]="getButtoClass(option.draw)" (click)="onSetCurrentOption(option.draw)"></app-button-one>
</div>