<div ngClass="optionContainer">
    <button ngClass="optionContainer__option optionContainer__option--product" (click)="onSelectCurrentOption(option.product)"><img ngSrc="../../../../assets/icon/color-picker.png" width="30" height="30" priority></button>
    <button ngClass="optionContainer__option optionContainer__option--text" (click)="onSelectCurrentOption(option.text)"><img ngSrc="../../../../assets/icon/text.png" width="30" height="30" priority></button>
    <button ngClass="optionContainer__option optionContainer__option--upload"><img ngSrc="../../../../assets/icon/cloud-computing.png" width="30" height="30" priority></button>
    <button ngClass="optionContainer__option optionContainer__option--form"><img ngSrc="../../../../assets/icon/star.png" width="30" height="30" priority></button>  
</div>
