@import "../../../mixin/general/mixin.scss";
@import "../../../theme/styles/variables";

.productDesingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  max-height: calc(100vh - 97px);
  &__optionProduct{
    background-color: $white;
    display: flex;
    align-items: end;
    width: 100%;
    height: 80%;
    @include min-width-container(); 
    min-height: 320px;
    position: absolute;
    z-index: 2;
    animation: slideUp 1s ease-out forwards;
    overflow-y: auto;
  }
  &__optionMenu{
    width: 100%;
    height: 100%;
  }
  &__canvas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: clamp(450px, 70%, 500px) auto;
    background-position: center;
    background-size: contain;    
  }
  &__rotate{
    position: absolute;
    top: 15%;
    right: 5px;
    width: 56px;
    aspect-ratio: auto 56 / 61;
    height: 61px;
    border: none;
    background-color: transparent;
    &:hover{
      transition: transform 0.5s ease-in-out;
      transform: scale(1.1);
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__workArea{
    width: 160px;
    height: 250px;
    background-color: rgb(144, 204, 168);   
    // overflow: hidden;
    position: relative;
  }
  &__optionMovement{
    position: absolute;
    z-index: 10;
    background: red;
    margin-top: -550px;
    ul {
      width: 200px;
      padding: 0px;      
      list-style: none;
      cursor: pointer;     
    }
  }
}

@media(min-width: 768px){
  .productDesingContainer{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__optionProduct{
      align-self: start;
      width: 40%;
      height: 100%;
      position: relative;
      animation: slideRight 1s ease-out forwards;
    }
    // &__canvas{
    //   width: calc(100% - 400px);
    // }
  }
}

@media(min-width: 1357px){
  .productDesingContainer{
    &__optionProduct{
      width: 400px;      
    }   
  }
}

@media(max-width: 992px){
  .productDesingContainer{
    max-height: calc(100vh - 132px);
  }
}

@keyframes slideUp {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideRight {
  from {
      transform: translateX(-5%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}