<div class="productDesingContainer">
    <div class="productDesingContainer__optionProduct" *ngIf="currentOption()===option.product">
        <div class="productDesingContainer__optionMenu">
            <app-option-product
                [products]="products"
                [selectedIndexProduct]="selectedIndexProduct"
                [optionSize]="optionSize"
                [tShirtColor]="tShirtColor"
                [optionProduct]="optionProduct"                
                (closeOptionProduct)="onCloseOptionProduct()"
                (onAddProduct)="onAddProduct()"></app-option-product>
        </div>
    </div>
    <div class="productDesingContainer__optionProduct" *ngIf="currentOption()===option.text">
        <div class="productDesingContainer__optionMenu">
            <app-option-text
                [invputValue]="inputValue"
                [selectedFont]="selectedFont"
                [selectedFontColor]="selectedFontColor"
                [selectedOutlineFontColor]="selectedOutlineFontColor"
                [selectedIndexFontColor]="selectedIndexFontColor"
                [selectedIndexOutlineFontColor]="selectedIndexOutlineFontColor"
                [selectedSize]="selectedSize"
                [selectedArch]="selectedArch"
                [fontColor]="fontColor"
                [outLineFontColor]="outLineFontColor"
                [optionFont]="optionFont"
                (duplicate)="onDuplicate()"
                (moveForward)="moveForward()"
                (moveBackward)="moveBackward()"
                (closeOptionProduct)="onCloseOptionProduct()"
                (textValue)="onTextValue($event)"
                (switchHorizontalDirection)="onRotateHorizontal()"
                (switchVerticalDirection)="onRotateVertical()"></app-option-text>
        </div>
    </div>

    <div class="productDesingContainer__optionProduct" *ngIf="currentOption()===option.clipart">
        <div class="productDesingContainer__optionMenu">
            <app-option-clipart 
                (closeOptionProduct)="onCloseOptionProduct()"
                (selectedDesignName)="onSelectDesign($event)"></app-option-clipart>
        </div>
    </div>

    <div class="productDesingContainer__optionProduct" *ngIf="currentOption()===option.draw">
        <div class="productDesingContainer__optionMenu">
            <app-option-draw 
                (closeOptionProduct)="onCloseOptionProduct()"></app-option-draw>
        </div>
    </div>

    <div class="productDesingContainer__optionProduct" *ngIf="currentOption()===option.upload">
        <div class="productDesingContainer__optionMenu">
            <app-option-upload
            (fileUpload)="onFileUpload($event)"
            (closeOptionProduct)="onCloseOptionProduct()"></app-option-upload>
        </div>
    </div> 
    
    <div class="productDesingContainer__canvas" #canvas (click)="onSelectWorkArea()">      
        <div class="productDesingContainer__workArea"  #workArea>             
            <div #baseComponent></div>
        </div>
    </div>    
    
    <button class="productDesingContainer__rotate p-0" (click)="onRotate()"><img ngSrc="../../../../assets/icon/tshirt-rotate-icons.svg"
            width="30" height="30" priority></button>
</div>