<div class="optionDrawContainer d-flex flex-column pt-3 col-11">  
  <header class="mt-3">
    <h6 class="optionDrawContainer__title">Genera Imagenes</h6>
        <div class="d-flex justify-content-between flex-nowrap mt-4">
            <h2>Genera Imagenes con inteligencia artificial</h2>
            <button type="button" class="btn-close mr-3 optionDrawContainer__closeButton"
                (click)="closeOptionProduct.emit()" aria-label="Close"></button>
        </div>
        <p class="optionDrawContainer__subtitle">Aqui puedes generar imagenes basadas en tus ideas</p>
  </header>
  <section class="optionDrawContainerBody">    
    <mat-accordion>
      <div class="optionDrawContainerBody__designsList mb-2">
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Diseños</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <button *ngFor="let desing of designNodeList" class="optionDrawContainerBody__designOption my-2"
              (click)="onSelectDesign(desing.name)">
              <img  ngSrc="{{ desing.path }}" width="60" height="70"  priority/>
            </button>
          </div>
        </mat-expansion-panel>
      </div>
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title>Crea tu diseño con IA</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex flex-column align-items-center">
          <input type="text" [(ngModel)]="prompt" class="form-control mb-2">
          <button (click)="generateImage()" [disabled]="!prompt">Generate Image</button>
          <img *ngIf="generatedImageUrl" [ngSrc]="generatedImageUrl" width="200" height="200" priority/>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>