@import "../../../mixin/general/mixin.scss";
@import "../../../theme/styles/variables";

.optionDrawContainer{
  height: 100%;
  display: block;
  padding-left: 20px;
  &__title{
    font-size: 0.9rem;
    color: $blue-light;
  }
  &__subtitle{
    font-size: .55em;
    color: #8d9095;
  }
  &__closeButton{
    font-size: 12px !important;
  }
  &Body{
    &__designsList{
      max-height: 80%;
      overflow-y: scroll;
      scrollbar-width: none;
    }
    &__designOption{
      background-color: transparent;
      border: none;
    }
  }  
  &Body {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    &__designOption{
      width: 50%;
    }
  }
}

.propmt{
  position: relative !important;
}