<div class="customerOptionsContainer px-5 pt-4">
    <div class="col-12 d-flex flex-lg-row flex-column align-item-center justify-content-lg-center flex-wrap py-5">
        <div class="col-12 col-lg-4 d-flex justify-content-center my-4 my-lg-0">
            <aside class="sidebar col-10">
                <h2 class="sidebar-title">Mi cuenta</h2>
                <ul class="menu-list">
                    <li class="menu-item" (click)="selectedCustomerOption=customerOptions.contactPreferences">
                        <a class="menu-link" [ngClass]="{'active':selectedCustomerOption==customerOptions.contactPreferences}">
                            <span class="menu-icon">👤</span>
                            <span>Datos de Contacto</span>
                        </a>
                    </li>
                    <li class="menu-item" (click)="selectedCustomerOption=customerOptions.addresses">
                        <a class="menu-link" [ngClass]="{'active':selectedCustomerOption==customerOptions.addresses}">
                            <span class="menu-icon">📍</span>
                            <span>Direcciones de Usuario</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link">
                            <span class="menu-icon">📦</span>
                            <span>Historial de Ordenes</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link">
                            <span class="menu-icon">🔐</span>
                            <span>Cambio de Contraseña</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>      
        <div class="col-12 col-lg-8 d-flex justify-content-center">
            <main class="content-area col-10">                
                <div *ngIf="selectedCustomerOption==customerOptions.contactPreferences">
                    <app-customer-contact-preferences></app-customer-contact-preferences>
                </div>
                <div *ngIf="selectedCustomerOption==customerOptions.addresses">
                    <app-customer-addresses></app-customer-addresses>
                </div>
            </main>
        </div>        
    </div>
</div>