@import "../../../theme/styles/variables";

.whatsappIcon{
  font-size: 2rem;
  color: rgb(37, 211, 102);
}

a{
  color: $black;
}

.whatsAppButton{
  color: rgb(37, 211, 102);
}

.logIn__Button{
  background: none;
  border: none;
}

.brandLabel{
  font-family: lexend-bold;
  font-size: 25px !important;
}

.account-options{
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);
  background-color: $white-light-pink;
  min-width: 210px;
}