<header class="h-100">
    <div class="h-100 w-100 d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-center">
            <h1 class="brandLabel">BUSINESS</h1>
        </div>
        <div class="d-flex flex-nowrap justify-content-end">
            <button class="mx-5 d-flex justify-content-between align-items-center logIn__Button">Ingresar</button>
            <a class="d-flex justify-content-between align-items-center" [href]="whatsAppUrl" target="_blank"><i class="bi bi-whatsapp whatsappIcon mr-4 col-3"></i><span class="col-9">Comunicate con nosotros</span></a>
            <!-- <button class="col-2"><img ngSrc="../../../../assets/icon/support.png" width="30" height="30" priority><span>Call or chat</span></button>
            <button class="col-2"><img ngSrc="../../../../assets/icon/tshirt.png" width="30" height="30" priority></button> -->
        </div>
    </div>
</header>