<div class="optionProductContainer p-3">
    <header class="mt-3">
        <h6 class="optionProductContainer__title">Productos</h6>
        <div class="d-flex justify-content-between flex-nowrap mt-4">
            <h2>Administra tus productos</h2>
            <button type="button" class="btn-close mr-3 optionProductContainer__closeButton"
                (click)="closeOptionProduct.emit()" aria-label="Close"></button>
        </div>
        <p class="optionProductContainer__subtitle">Aqui puedes seleccionar multiples tallas y colores de camiseta</p>
    </header>
    <hr>
    <div class="optionProductContainer__card optionProductContainer__list px-2 py-1">
        <div class="d-flex flex-nowrap justify-content-between">
            <p>Productos</p>
            <app-button-one label="{{'Agregar camiseta'}}" class="addProduct"
                (click)="onAddProduct.emit()"></app-button-one>
        </div>
        <div class="d-flex flex-wrap col-12 justify-content-start">
            <div *ngFor="let productId of design?.productId; let i = index; trackBy: trackByIndex"
                (mouseenter)="hoverIndex=i" (mouseleave)="hoverIndex=-1"
                class="d-flex flex-column align-items-center flex-nowrap mt-3"
                class="productElement d-flex flex-nowrap flex-column align-items-center"
                (click)="onSelectProduct(i)">
                <div [ngClass]="{'productElement__selected':selectedIndexProduct() === i }">
                    <button type="button" [ngClass]="['closeProduct p-0 rounded-circle col-1', hoverIndex === i && design.productId.length > 1 ? 'closeProduct__bg--white' : '']"
                        (click)="onRemoveProduct(i)">{{design.productId.length > 1 ? 'X' : ''}}</button>
                    <div Class="element col-12 mr-4"
                        [style.backgroundImage]="getBackGroundImageUrl(productId)"></div>
                </div>
                <button matButton [matMenuTriggerFor]="menu" class="productsColorChange">
                    <div [class]="getChangeOptionBackGroundClass(productId)"></div>Cambiar
                </button>
                <mat-menu #menu="matMenu" [hidden]="!showColorTooltip">
                    <div class="py-1 px-2">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <p  class="blue-light">Cambia el color</p>
                            <button type="button" class="btn-close mr-3 optionProductContainer__closeButton"
                            (click)="toggleShowColorTooltip()" aria-label="Close"></button>
                        </div>
                        <div class="optionProductContainer__colorSelector">
                            <button *ngFor="let color of tShirtColor" [class]="getColorClass(color.optionColorId)+' mx-1'"
                                (mouseenter)="setPreviewColor(color.optionColorId)" (mouseleave)="setBackPreviewColor()"
                                (click)="confirmTShirtColor(color.optionColorId)"></button>                        
                        </div>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>
    <div *ngIf="design.productId.length">
        <hr>
        <div class="optionProductContainer__card px-2 py-1">
            <p>Selecciona tu talla</p>
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="col-2 d-flex flex-column align-items-center" *ngFor="let size of optionSize">
                    <label>{{size.name}}</label>
                    <div class="col-10">
                        <input type="text" class="form-control"
                            (keypress)="onValidateSizeAmount($event)" (blur)="onAddSize($event, size)" maxlength="2" [value]="getSizeAmount(size)">
                        <!-- <input type="text" class="form-control" [(ngModel)]="currentProduct.size.s.amount"
                            (keypress)="onValidateSizeAmount($event)" maxlength="2"> -->
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>