@import "../../../theme/styles/variables";

.optionProductUploadContainer {
    height: 100%;
    display: block;
    padding-left: 20px;
    &__title{
      font-size: 0.9rem;
      color: $blue-light;
    }
    &__closeButton{
      font-size: 12px !important;
    }
    &__subtitle{
      font-size: .55em;
      color: #8d9095;
    }
}

ngx-dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  ngx-dropzone-label {
    font-size: 16px;
    color: #666;
  }