<div class="optionProductUploadContainer col-11">
    <header class="mt-3">
        <h6 class="optionProductUploadContainer__title">Sube Archivos</h6>
        <div class="d-flex justify-content-between flex-nowrap mt-4">
            <h2>Escoge tus archivos para subir</h2>
            <button type="button" class="btn-close mr-3 optionProductUploadContainer__closeButton"
                (click)="closeOptionProduct.emit()" aria-label="Close"></button>
        </div>
        <p class="optionProductUploadContainer__subtitle">Aqui puedes seleccionar multiples archivos para subir</p>
    </header>
    <ngx-dropzone (change)="onFileSelected($event)">
        <ngx-dropzone-label>
            Arrastra y suelta una imagen aquí o haz click para cargar una imagen
        </ngx-dropzone-label>
      </ngx-dropzone>
</div>