<header class="h-100 d-flex justify-content-end">
    <a class="col-2 d-flex justify-content-between align-items-center" [href]="whatsAppUrl" target="_blank"><i class="bi bi-whatsapp whatsappIcon mr-4 col-3"></i><span class="col-9">Comunicate con nosotros</span></a>
    <!-- <button class="col-2"><img ngSrc="../../../../assets/icon/support.png" width="30" height="30" priority><span>Call or chat</span></button>
    <button class="col-2"><img ngSrc="../../../../assets/icon/tshirt.png" width="30" height="30" priority></button> -->
</header>