@import "../../../mixin/general/mixin.scss";
@import "../../../theme/styles/variables";

.optionColorContainer{
    @include make-flex(start, center);        
    flex-wrap: wrap;
    overflow: hidden;
    button{
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
    }
    &__colorButton--selected{
        @include selected-color();
    }
}

.border {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}