@import "../../../mixin/general/mixin.scss";

.optionFontColorContainer{
    margin-top: 10px;
    background-color: rgb(145, 103, 212);
    position: absolute;
    @include make-flex(start, center);        
    flex-wrap: wrap;
    overflow: auto;
    button{
        width: 25px;
        height: 25px;
        margin: 5px;
        border-radius: 50%;
    }
}