@import "../../../mixin/general/mixin.scss";

.optionFontColorContainer{
    margin-top: 10px;
    position: absolute;
    @include make-flex(start, center);        
    flex-wrap: wrap;
    overflow: auto;
    button{
        width: 30px;
        height: 40px;
        border-radius: 15%;
        border:none;
    }
}