@mixin icon($url, $position, $size) {
    background: url($url) no-repeat;
    background-position: $position;
    background-size: $size;
}

@mixin min-width-container() {
    min-width: 366px;
}

@mixin min-height-container() {
    min-height: 584px;
}

@mixin make-flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin selected-color() {
    border-color: $blue-light !important;
    border-width: 2px;
    border-style: solid;
    width: 26px;
    height: 26px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}