@import "../../../theme/styles/variables";
@import "../../../mixin/general/mixin.scss";

.sideBar{
    border-radius: 15% !important;
    border:none;
    min-height: 100px !important;
    background-color: transparent;
    color: $black;
    display: flex;
    flex-direction: column;
    @include make-flex(center, center);
    flex-wrap: nowrap;
    &__selected{
      background-color: $blue-light;
      min-width: calc(100% + 10px);
    }
  }

.designer{
  padding: 5px 3px;
  background-color: transparent;
  color: $black;
  font-weight: bold;
  border: none;    
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  padding: 10px;
}

.underline{
  border-bottom: 2px solid #000;
}

.fontOption{
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  @include make-flex(center, center);
}

.white {
  background-color: #e6e4e4;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #ecff00;
}

.green {
  background-color: #18ff00;
}

.blue {
  background-color: #00fffc;
}

.purple {
  background-color: #0000ff;
}

.pink {
  background-color: #ff00f2;
}

.addProduct{
  color: #27a6ff;
  border-color: #27a6ff;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
  background-color: transparent;
  height: 22px;
  max-width: 150px;
  padding: 0 12px;
  font-size: 10px;
}

.fontOption{
  width: 100%;
  background-color: $blue-light;
  display: flex;
  justify-content: center;
  height: 42px;
  padding: 0 25px;
  color: $white;
  white-space: nowrap;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
  box-shadow: none;
  font-size: 14px;
  margin-top: 10px;
}