@import "./../../../theme/styles/variables";

.footerContainer{
    background-color: $dark;
    color: $white;
    border-radius: 10px;
}

img{
    margin-right: 10px;
}

.cell{
    min-width: 200px;
}