<div class="footerContainer d-flex flex-wrap justify-content-center justify-content-sm-between px-5 py-3">
    <div class="d-flex flex-nowrap flex-column col-4 cell mt-4 mt-md-0">
        <h5>Contacto</h5>
        <div class="d-flex flex-nowrap">
            <img src="../../../../assets/common/home-mail.png" width="30" height="30">
            <label>info</label>
        </div>
        <div>
            <img src="../../../../assets/common/home-phone.png" width="30" height="30">
            <label>(+57) 312548789</label>
        </div>
    </div>
    <div class="col-4 cell mt-4 mt-md-0">
        <h5>Enlaces rapidos</h5>
        <div class="d-flex flex-nowrap flex-column">            
            <a>Politica de privacidad</a>
            <a>Terminos de servicio</a>
            <a>Ayuda</a>
        </div>
    </div>
    <div class="col-4 cell mt-4 mt-md-0">
        <h5>Siguenos</h5>
        <div class="d-flex flex-wrap">
            <img src="../../../../assets/common/home-instagram.png" width="30" height="30">
            <img src="../../../../assets/common/home-x.png" width="30" height="30">
            <img src="../../../../assets/common/home-facebook.png" width="30" height="30">
            <img src="../../../../assets/common/home-tiktok.png" width="30" height="30">
        </div>
    </div>
</div>