@import "../app/mixin/general/mixin.scss";
@import "../app/theme/styles/variables";

.mainContainer{
    @include min-width-container();
    @include min-height-container();
    background-color: $white-light-pink;
    min-height: 100vh;
}

.headerContainer {
  z-index: 10;
  width: 100%;
  height: 80px;
}

.header-shadow{
  box-shadow: 0 2px 8px 0 rgba(204, 207, 214, .5);
}

.contenContainer{
  max-height: calc(100vh - 80px);
}