@import "../app/mixin/general/mixin.scss";
@import "../app/theme/styles/variables";

.mainContainer{
    @include min-width-container();
    @include min-height-container();
    background-color: $white-light-pink;
    width: 100vw;
    height: 100vh;
}

.headerContainer {
  z-index: 10;
  width: 100vw;
  min-height: 97px;
}

.header-shadow{
  box-shadow: 0 2px 8px 0 rgba(204, 207, 214, .5);
}

.contenContainer{
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}