<div class="optionTextContainer d-flex flex-column pb-5 col-11">
    <div class="optionTextContainer__header">
        <header class="mt-3">
            <h6 class="optionTextContainer__title">Editor de texto</h6>
            <div class="d-flex justify-content-between flex-nowrap mt-4">
                <h2 *ngIf="!showFontOption && !showFontColorOption && !showOutlineColorOption; else selectedOption">{{invputValue() ? 'Editar' : 'Agregar'}} texto</h2>
                <ng-template #selectedOption>
                    <div class="d-flex justify-content-between flex-nowrap col-8">                    
                        <i class="bi bi-arrow-bar-left pointer" (click)="onHideOption()"></i>
                        <h6 *ngIf="showFontOption">Seleccionala fuente de letra</h6>
                        <h6 *ngIf="showFontColorOption">Seleccionala color de letra</h6>
                        <h6 *ngIf="showOutlineColorOption">Seleccionala color de borde</h6>
                    </div>
                </ng-template>
                <button type="button" class="btn-close mr-3 optionTextContainer__closeButton" (click)="closeOptionProduct.emit()" aria-label="Close"></button>                
            </div>
        </header>
        <hr>
        <div>
           <textarea class="form-control" rows="2" maxlength="30" placeholder="Escribe aqui" [value]="invputValue()" (input)="onTextInput($event)" #textInput></textarea>
        </div>
        <div *ngIf="invputValue()" class="d-flex flex-nowrap justify-content-center mt-4 col-12">
            <div class="d-flex flex-nowrap justify-content-center col-4">
                <button class="optionTextContainer__action" (click)="moveForward.emit()"><i class="bi bi-layers-half inverted"></i></button>
                <button class="optionTextContainer__action" (click)="moveBackward.emit()"><i class="bi bi-layers-half"></i></button>        
            </div>
            <div class="d-flex flex-nowrap justify-content-center col-4">
                <button class="optionTextContainer__action" (click)="onRotateHorizontal()"><img ngSrc="../../../../assets/icon/reflect-horizontal.png" width="25" height="25" priority></button>
                <button class="optionTextContainer__action" (click)="onRotateVertical()"><img ngSrc="../../../../assets/icon/reflect-vertical.png" width="25" height="25" priority></button>        
            </div>
            <div class="d-flex flex-nowrap justify-content-center col-4">
                <button class="optionTextContainer__action" (click)="duplicate.emit()"><img ngSrc="../../../../assets/icon/duplicate.png" width="25" height="25" priority></button>                
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="!showFontOption && !showFontColorOption && !showOutlineColorOption">
        <div class="d-flex flex-nowrap justify-content-between optionTextContainer__option" (click)="onSelectFontOption('showFontOption')">
            <div>Fuente</div>
            <div [style.fontFamily]="selectedFont()" class="d-flex flex-nowrap justify-content-end align-items-center">
                <div  [style.fontSize]="'1.3rem'">{{selectedFont()}}</div>                
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-nowrap justify-content-between optionTextContainer__option" (click)="onSelectFontOption('showFontColorOption')">
            <div>Color</div>
            <div class="d-flex flex-nowrap justify-content-end align-items-center">
                <div [style.backgroundColor]="selectedFontColor()" class="selectedFontColorPreview"></div>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-nowrap justify-content-between optionTextContainer__option" (click)="onSelectFontOption('showOutlineColorOption')">
            <div>Borde</div>
            <div class="d-flex flex-nowrap justify-content-end align-items-center">
                <div [style.backgroundColor]="selectedOutlineFontColor()" class="selectedFontColorPreview"></div>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-nowrap justify-content-between optionTextContainer__option">
            <div class="col-4">Tamaño</div>
            <div class="col-6 d-flex flex-nowrap justify-content-between align-items-center mx-5">
                <mat-slider
                    [disabled]="slideDisabled"
                    [max]="slideMax"
                    [min]="slideMin"
                    [step]="slideStep"
                    [discrete]="slideThumbLabel"
                    [showTickMarks]="slideShowTicks">
                    <input matSliderThumb [(ngModel)]="selectedSize" #slider>
                </mat-slider>
                <div>{{(selectedSize())}}</div>
            </div>
        </div>
    </div>
    <div class="optionTextContainer__buttons" *ngIf="showFontOption">
        <app-option-font [selectedFont]="selectedFont"></app-option-font>
    </div>
    <div class="optionTextContainer__buttons" *ngIf="showFontColorOption">
        <app-option-color [selectedColor]="selectedFontColor" [selectedIndex]="selectedIndexFontColor" (hideOption)="onHideOption()"></app-option-color>
    </div>
    <div class="optionTextContainer__buttons" *ngIf="showOutlineColorOption">
        <app-option-color [selectedColor]="selectedOutlineFontColor" [selectedIndex]="selectedIndexOutlineFontColor" (hideOption)="onHideOption()"></app-option-color>
    </div>
</div>